<div class="bg-white dark:bg-slate-800 p-6 rounded-lg shadow-md max-w-4xl mx-auto">
  <h3 class="text-xl font-semibold mb-6 text-center">FORMULARIO ESTUDIANTES</h3>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4">
    
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <label htmlFor="id">ID</label>
        <input pInputText id="id" placeholder="Ingrese su Identificación" />
      </div>
      <div class="flex flex-col gap-2">
        <label htmlFor="nombre">Nombre</label>
        <input pInputText id="nombre" placeholder="Ingrese el Nombre" />
      </div>
      <div class="flex flex-col gap-2">
        <label htmlFor="telefono">Teléfono</label>
        <input pInputText id="telefono" placeholder="Ingrese el Teléfono" />
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <label htmlFor="estado">Estado</label>
        <p-dropdown [options]="cities" placeholder="Select a City" optionLabel="name"></p-dropdown>
      </div>
       <div class="flex flex-col gap-2">
        <label htmlFor="fecha">Fecha Nacimiento</label>
        <p-calendar dateFormat="dd/mm/yy" placeholder="dd/MM/aaaa"></p-calendar>
      </div>
      <div class="flex flex-col gap-2">
        <label htmlFor="grado">Grado</label>
        <p-inputNumber inputId="integeronly" [min]="0"></p-inputNumber>
      </div>
    </div>
  </div>

  <div class="flex justify-center gap-4 mt-8">
      <p-button label="Cancelar" [outlined]="true"></p-button>
      <p-button label="Aceptar"></p-button>
  </div>
</div>