main {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "header header"
    "aside  section"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh; /* Fija la altura total del layout a la pantalla */
  background-color: #f4f7f9;
}

header {
  grid-area: header;
  /* Estilos para tu header */
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

aside {
  grid-area: aside;
  /* Estilos para tu barra lateral */
  background-color: #e9ecef;
  padding: 1rem;
}

section {
  grid-area: section;
  overflow-y: auto; /* Permite el scroll solo en esta área */
  padding: 1.5rem; /* Añade algo de espacio interno */
}

footer {
  grid-area: footer;
  /* Estilos para tu pie de página */
  background-color: white;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

* {
    border: .5px solid gray;
}
