main {
    display: grid;
    grid-template-columns: 250px 1fr; /* Ancho de la barra lateral y contenido principal */
    grid-template-areas:
    "header header"
    "aside  section"
    "footer footer";
    grid-template-rows: auto 1fr auto; /* Alto del header, contenido principal flexible, alto del footer */
    height: 100vh;
    background-color: #f4f7f9; /* Un fondo claro para la página */
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}
