<div class="bg-white dark:bg-slate-800 p-6 rounded-lg shadow-md">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-xl font-semibold">Estudiantes</h3>
    <p-button label="Nuevo Estudiante" icon="pi pi-plus" routerLink="/estudiantes/nuevo"></p-button>
  </div>

  <p-table #dt [value]="products" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Grado</th>
        <th>Teléfono</th>
        <th>Fecha Nacimiento</th>
        <th>Identificación</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.name}}</td>
        <td><p-tag [value]="product.inventoryStatus"></p-tag></td>
        <td>{{product.category}}</td>
        <td>{{product.price | currency:'USD'}}</td>
        <td>22 Feb, 2022</td>
        <td>39842-231</td>
        <td>
           <p-button icon="pi pi-ellipsis-v" [text]="true" (click)="menu.toggle($event)"></p-button>
           <p-menu #menu [model]="items" [popup]="true"></p-menu>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>