<div class="flex items-center w-full h-full">
  <!-- Botón menú izquierdo -->
  <div class="flex items-center justify-center h-24">
    <button type="button" class="mr-2 bg-blue-200 text-orange-500 rounded shadow hover:bg-blue-300 w-10 h-10" (click)="toggleAside.emit()">
      <i class="pi pi-bars text-xl"></i>
    </button>
  </div>

  <!-- Título centrado -->
  <div class="flex-1 flex items-center justify-center">
    <h2 class="text-xl font-bold">ACADEMIC SYSTEM</h2>
  </div>

  <!-- Botones derechos alineados totalmente a la derecha -->
  <div class="flex items-center justify-end space-x-2">
    <button type="button" class="bg-blue-300 text-orange-500 rounded shadow hover:bg-blue-400 flex items-center justify-center w-10 h-10 border-orange-2">
      <p-overlaybadge value="2">
        <i class="pi pi-bell" style="font-size: 2rem"></i>
    </p-overlaybadge>
    </button>

    
    <!-- Botón imagen usuario que despliega el menú -->
    <button type="button"
      class="bg-blue-300 text-orange-500 rounded shadow hover:bg-blue-400 w-10 h-10 flex items-center justify-center border-orange-2"
      (click)="menu.toggle($event)">
      <i class="pi pi-users"></i>
    </button>
    <p-tieredmenu #menu [model]="items" [popup]="true" />
  </div>
</div>