<p-toolbar styleClass="bg-gray-900 text-white rounded-none shadow-md">
    <ng-template pTemplate="start">
        <div class="flex items-center gap-2">
            <i class="pi pi-building text-2xl"></i>
            <span class="font-bold text-xl">Hotel Manager</span>
        </div>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="flex items-center gap-2">
            <p-avatar icon="pi pi-user" styleClass="bg-blue-500 text-white" shape="circle"></p-avatar>
        </div>
    </ng-template>
</p-toolbar>
